<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div class="nav-main">
            <div class="btn-toggle-nav" onclick="toggle()"></div> <!--only for navigation toggle-->
                <ul>
                    <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a></li>
                    <div class="dropdown">
                        <button class="profile"><i class="fas fa-user-circle"></i>Profile</button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('profile') }}">Profile details</a>
                            <a href="{{ url_for('edit') }}">Edit profile</a>
                        </div>
                    </div>
                    <li><a href="#"><i class="fas fa-exchange-alt"></i>Transfer</a></li>
                    <li><a href="{{ url_for('create') }}"><i class="fas fa-user-plus"></i>Create Account</a></li>
                    <li><a href="{{ url_for('check') }}"><i class="fas fa-piggy-bank"></i>Show Accounts</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                </ul>
        </div>
    </body>
    <script>

    </script>
</html>
